body {
  font-family: 'Roboto', sans-serif;
  max-width: 90vw;
  margin: auto;
  background-color: #fff
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #0055B0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

.back-button{
  text-align: center;
  background-color: #f6f6f6;
  border-radius: 50%;
  color: #333;
}
  
.event-list li {
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 20px;
}

.event-list li:hover {
    background-color: #f8f9fa;
}


  textarea {
    width: 400px;
    height: 150px;
  }
  
.nav_bar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .logo {
    height: 35px;
    width: auto;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #0055B0;
    border-radius: 12px;
    overflow: hidden; /* Ensures the child elements do not break the rounded corners */
    width: 500px;
  }

  label[for="search"] {
    visibility:hidden;
 }
  
  .search-input {
    padding: 15px;
    font-size: 16px;
    border: none; /* Remove individual border */
    outline: none;
    width: 100%; /* Take up remaining space */
  }
  
  .search-btn {
    background-color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: #0055B0;
  }
  
  .search-btn .fas {
    font-size: 18px;
  }  
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .user-menu {
    position: relative;
    display: inline-block;
  }

  .user-action {
    padding: 15px 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #0055B0; 
    font-weight: bold;
    background-color: transparent; /* or any other styling */
    border: none;
    cursor: pointer;
  }
  
  .user-action-signup {
    background-color: #0055B0; 
    color: white;
    border-radius: 12px;
  }
  
  .user-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.064);
    z-index: 1;
    border-radius: 12px;
  }
  
  .user-dropdown a,
  .user-dropdown form .logout {
    color: #696363;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .user-dropdown a:hover,
  .user-dropdown form .logout:hover {
    color: #333;
  }
  
  .user-menu:hover .user-dropdown {
    display: block;
  }

 /* Change the header background and arrow colors */
.ui-datepicker .ui-datepicker-header {
  background-color: #fff;
  color: #0055B0;
  border: none;
  border-radius: 30px;
  align-items: center;
}

.ui-datepicker .ui-datepicker-title {
  text-align: center;
  line-height: 1.8em; /* Adjust for vertical centering */
}

/* Change the selected day background */
.ui-datepicker .ui-state-default {
  background: #fff;
  border: none;
  border-radius: 30px;
  text-align: center;
  line-height: 1.6em;
}

.ui-datepicker .ui-state-active,
.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-state-hover {
  background: #0055B0;
  color: white;
  border: none;
  border-radius: 30px;
  text-align: center;
}

/* Hover states for the days */
.ui-datepicker td:hover .ui-state-default {
  background-color: #e6e6e6;
  color: #333;
  border: none;
  border-radius: 30px;
  text-align: center;
}

/* Adjust the border radius for the overall datepicker */
.ui-datepicker {
  width: 100%; /* Make datepicker full width */
  border: 1px solid #ccc; /* Make border thicker if needed */
  border-radius: 12px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Adjust the prev and next buttons */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  border: none;
}

.ui-datepicker-today .ui-state-active {
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  color: #333;
}

.ui-datepicker-today .ui-state-highlight {
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  color: #333;
}

.ui-datepicker-today .ui-state-default {
  color: #333;
}


/* Container for the filter bar and the content */
.filter-content-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

/* Style for the sticky filter bar */
.filter-bar {
  position: sticky;
  top: 0; /* Adjust as needed based on your header's height */
  left: 0;
  overflow-y: auto; /* Allows scrolling within the filter bar */
  width: 250px; /* Width of the filter bar */
  background-color: #fff; /* Background color of the filter bar */
  padding: 20px;
  border-radius: 12px;
}

.filter-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-section {
  margin-bottom: 5px;
  margin-top: 20px;
}

.filter-lable {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.filter-section label {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.filter-section input[type="text"],
.filter-section select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 12px; /* rounded borders */
}

.filter-section input[type="checkbox"] {
  margin-right: 5px;
}

.filter-button {
  padding: 10px 20px;
  background-color: #0055B0;
  border: none;
  color: white;
  border-radius: 12px; /* rounded borders */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.clear-filter-button {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #0055B0;
  border-radius: 12px; 
  cursor: pointer;
  font-size: 16px;
}

/* Style for the main content */
.main-content {
  background-color: #f6f6f6;
  flex-grow: 1; /* Takes up the remaining space */
  padding: 20px; /* Spacing around the content */
  border-radius: 24px;
}

.profile-event-wrapper {
  background-color: #f6f6f6;/* Takes up the remaining space */
  padding: 20px; /* Spacing around the content */
  border-radius: 24px;
}

.main-wrapper {
  background-color: #fff;
  width: 100%; 
  display: flex; 
  justify-content: space-between; /* This centers the flex items on the main-axis (horizontally) */
  align-items: center; 
  margin: 0 auto; 
}

.event-detail-page {
  display: flex;
  border-radius: 12px;
  flex-direction: row;
  width: auto;
  margin: auto;
  margin-left: 15px;
  height: 86.7vh;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.064);
}

.event-detail-h1{
  font-size: 40px;
}
.login-page {
  display: flex;
  flex-direction: row;
  width: 90%; /* or your preferred max width */
  margin: auto;
  padding-top: 40px;
  justify-content: space-between;
}

.register-page {
  display: flex;
  flex-direction: row;
  width: 90%; /* or your preferred max width */
  margin: auto;
  padding-top: 40px;
  justify-content: space-between;
}


.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* This will create a responsive grid */
  grid-gap: 20px; /* Space between cards */
}

.event-card {
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.event-image img {
  width: 100%; /* Adjusts the width of the image to be 90% of its container's width */
  height: 200px; /* Sets a fixed height for all images */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  display: block; /* Allows margin auto to work for horizontal centering */
  border-radius: 12px; /* Rounds the corners of the image */
}

.event-image-details {
  position: sticky;
  top: 0;
  flex: 1;
  height: 86.7vh;
  overflow-y: auto; 
}

.event-image-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.login-image img{
  max-width: 100%; 
  max-height: 80vh; 
  object-fit: contain; 
}


.event-info {
  flex: 1; 
  padding-top: 15px;
}

.event-detail-container {
  flex: 1;
  overflow-y: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #f6f6f6;
}

.event-detail-content {
  padding: 30px;
}

.login-form {
  flex: 1;
  margin-right: 40px;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}


.event-title {
  font-size: 20px;
}

.event-detail {
  font-size: 16px;
  color: #666;
}

.event-detail-1 {
  font-size: 18px;
  color: #333;
}

.event-detail.evnet-date:before {
  content: url('/static/images/material-symbols_calendar-month-outline.svg');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.event-detail.event-loc:before {
  content: url('/static/images/material-symbols_location-on-outline-rounded.svg');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.event-detail.event-host:before {
  content: url('/static/images/iconoir_sparks.svg');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.event-detail.event-email:before {
  content: url('/static/images/ic_outline-email.svg');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.event-detail.event-att:before {
  content: url('/static/images/ic_round-people-outline.svg');
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.event-type.performance {
  font-weight: medium;
  font-size: small;
  color: #2B2987;
  background-color:#CCCBFE;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.academic {
  font-weight: medium;
  font-size: small;
  color: #5E431B;
  background-color:#F7DCB4;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.sport {
  font-weight: medium;
  font-size: small;
  color: #5F1A16;
  background-color:#F7B8B4;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.cultural {
  font-weight: medium;
  font-size: small;
  color: #574E03;
  background-color:#F0E79A;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.religious {
  font-weight: medium;
  font-size: small;
  color: #355C15;
  background-color:#C6E7AC;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.religious {
  font-weight: medium;
  font-size: small;
  color: #355C15;
  background-color:#C6E7AC;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.volunteering {
  font-weight: medium;
  font-size: small;
  color: #10592C;
  background-color:#ACE7C3;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.career {
  font-weight: medium;
  font-size: small;
  color: #1A4A63;
  background-color:#BCD7E5;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.other {
  font-weight: medium;
  font-size: small;
  color: #4D1276;
  background-color:#DFC4F0;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.personal {
  font-weight: medium;
  font-size: small;
  color: #175147;
  background-color:#93DFD2;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-type.org {
  font-weight: medium;
  font-size: small;
  color: #013E7F;
  background-color:#C3E0F8;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 2px;
}

.event-actions {
  display: flex;
  margin: 0;
  gap: 15px;
  padding: 0;
}

.event-actions button {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  text-align: center;
  margin: 0;
  border-radius: 12px;
  cursor: pointer;
}

.rsvp-button {
  background-color: #0055B0;
  color: white;
}

.rsvp-button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.details-button {
  background-color: transparent;
  color: #0055B0;
  border: 1px solid #0055B0;
}

.div-10px{
  height:10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 94%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.action-group {
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: #0055B0;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

.signup-btn {
  display: inline-block; 
  width: 92%; 
  padding: 15px 20px; 
  border: 1px solid #0055B0; 
  border-radius: 12px;
  background-color: #fff; 
  color: #0055B0;
  font-size: 16px; 
  text-align: center; 
  text-decoration: none; 
  cursor: pointer; 
}


.divider {
  margin: 10px 0;
}

.register-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: #0055B0;
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Hide the radio button */
.account-type-radio {
  display: none;
}

/* Style the labels */
.toggle-switch-label {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: white;
  color: #555;
  transition: all 0.3s;
  border-radius: 12px;
}

/* Style the label when the corresponding radio button is checked */
.account-type-radio:checked + .toggle-switch-label {
  background-color: #fff;
  color: #0055B0;
  border: 1px solid #0055B0;
}

.toggle-switch {
  display: flex;
  justify-content: start; /* Align items to the start of the container */
}

.toggle-switch-label:not(:last-child) {
  margin-right: 10px;
}

#content {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}

/* Table styles */
#content table {
  width: 100%;
  border-collapse: collapse;
}

#content th, #content td {
  text-align: left;
  padding: 8px;
}


/* Form inputs and labels */
#content label {
  display: block;
  margin-bottom: .5em;
  color: #333;
}

#content input[type="text"],
#content input[type="email"],
#content input[type="date"],
#content input[type="time"],
#content select,
#content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #0055B0;
  border-radius: 12px;
}

#content input[type="submit"] {
  width: auto;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #0055B0; /* Your primary button color */
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#content input[type="submit"]:hover {
  background-color: #003580; /* Darker shade for hover effect */
}

.form-style {
  max-width: 800px; 
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="password"],
.form-style textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #0055B0;
  border-radius: 12px;
}

.form-style input[type="submit"] {
  width: auto;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #0055B0;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.form-style input[type="submit"]:hover {
  background-color: #003580; /* Darker shade for hover effect */
}


/* Checkboxes */
#tag-checkboxes label {
  display: inline-block; /* Align checkboxes horizontally */
  margin-right: 10px;
}

/* File upload */
#event_image {
  border: none; /* Styles for file input can be tricky and are limited */
}

.org-details-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.org-details-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.org-details-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

a {
  color: #0055B0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; 
  margin: auto; 
}

.username-btn {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
}

.profile-image img {
  width: 120px;
  height: 120px; 
  border-radius: 50%; /* Circular image */
  margin-right: 50px;
}

.profile-info {
  flex-grow: 1;
}

.username {
  margin: 0;
  color: #333;
  font-size: 25px; 
}

.edit-profile-btn {
  background: #0055B0;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px; 
  margin-left: 20px;
}

.user-details {
  color: #777;
  font-size: 16px; 
}

.user-email, .user-following {
  margin-right: 10px; 
}

.user-following a {
  text-decoration: none;
  color: #0055B0;
}

/* Add responsiveness if necessary */
@media (max-width: 768px) {
  .profile-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .edit-profile-btn {
      margin-top: 10px;
      margin-left: 0;
  }
}

.followed-orgs-container {
  width: 30%;
  margin: auto;
  text-align: center;
}

.org-list {
  margin-top: 20px;
}

.org-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Spacing between org items */
}

.org-search-container {
  margin-bottom: 20px;
  position: relative;
}

label[for="org_name"] {
  visibility:hidden;
}

.table-rsvp {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 10px;
  padding-left: 15px;  
}

th { 
  color: black;
}

.tablehead{
  background-color: #DFEFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
}

td {
  color: #555;
}

/* Optional: Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  table {
    border: 0;
    border-radius: 12px;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.qa-container {
  position: sticky;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.qa-img{
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.qa-content-wrapper{
  padding-top:10px;
  border-top:#f1f0f0 1px solid;
}

.question-container {
  display: flex;
  align-items: start;
  max-width: auto; 
  margin: auto; 
}

.question-text {
  flex: 1;
}

.question-user-date {
  color: #555;
  font-size: 0.9em; 
  margin: 0;
}

.question-content {
  color: #000000;
  margin: 5px 0; 
}

label[for="question_content"] {
  visibility:hidden;
}

label[for="reply_content"] {
  visibility:hidden;
}

.reply-btn {
  padding: 5px 0px;
  background-color: #fff;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
}

.reply-btn :hover {
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.reply-img{
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.reply-divider {
  border-top:#f1f0f0 1px solid;
}

.tabs {
  margin-bottom: 20px;
}

.tab {
  background-color: transparent;
  color:#000000;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 15px;
  border-radius: 0%;
  transition: 0.3s;
  border-bottom: transparent 3px solid;
}

.tab.active {
  border-bottom: #0055B0 3px solid;
}

.tab:hover {
  border-bottom: #0055B0 3px solid;
}

.tab-content {
  display: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}