.button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .event-list {
    list-style: none;
    padding: 0;
  }
  
  .event-list li {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .event-list li:hover {
    background-color: #e0e0e0;
  }

  img {
    width:400px;
    height:auto;
  }

  textarea {
    width: 400px;
    height: 150px;
  }
  