{% extends "base.html" %}

{% block end_scripts %}
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel='stylesheet' href="{{url_for('static', filename = 'styles.css')}}">
<script>
  $(function() {
    $("#datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      defaultDate: null, // Explicitly set no default date
      onSelect: function(dateText) {
        $("#date").val(dateText);
      }
    });
  });

  function showTab(tabName) {
  // Hide all tabs
  $('.tab-content').hide();

  // Remove active class from all tabs
  $('.tab').removeClass('active');

  // Show the selected tab content and add the active class to the clicked tab
  $('#' + tabName).show();
  $('.tab[onclick="showTab(\'' + tabName + '\')"]').addClass('active');
}

// Call this function to display the first tab on page load
$(document).ready(function() {
  showTab('upcoming'); // Show 'upcoming' tab on page load
});

</script>
{% endblock %}


{% block main_content %}
<body>
    <div class="filter-content-wrapper">
        <div class="filter-bar">
            <h2>Filter</h2>
              <!-- Filter Bar -->
              <form method="POST" action="{{ url_for('filter_events') }}" class="filter-form">
                <!-- Date Filter -->
                <div id="datepicker"></div>
                <input type="hidden" id="date" name="date" value="{{ filters['date']|default('') if filters is defined else''}}" >

                <div class="filter-section">
                  <label for="org_filter_name" class="filter-lable">By Org</label>
                  <input type="text" id="org_filter_name" name="org_name" placeholder="Search Org" value="{{ filters['org_name']|default('') if filters is defined else '' }}">
                </div>
                
                <div class="filter-section">
                    <label class="filter-lable">By Account Type</label>
                    <label><input type="radio" name="type" value="org" {% if filters is defined and filters['type'] == 'org' %}checked{% endif %}> Organization</label>
                    <label><input type="radio" name="type" value="personal" {% if filters is defined and filters['type'] == 'personal' %}checked{% endif %}> Personal</label>
                </div>

                <div class="filter-section">
                    <label class="filter-lable">By Event Tags</label>
                    <label><input type="checkbox" name="event_tags" value="academic" {% if filters is defined and 'academic' in filters['tags'] %}checked{% endif %}> Academic</label>
                    <label><input type="checkbox" name="event_tags" value="sport" {% if filters is defined and 'sport' in filters['tags'] %}checked{% endif %}> Sport</label>
                    <label><input type="checkbox" name="event_tags" value="cultural" {% if filters is defined and 'cultural' in filters['tags'] %}checked{% endif %}> Cultural</label>
                    <label><input type="checkbox" name="event_tags" value="religious" {% if filters is defined and 'religious' in filters['tags'] %}checked{% endif %}> Religious</label>
                    <label><input type="checkbox" name="event_tags" value="volunteering" {% if filters is defined and 'volunteering' in filters['tags'] %}checked{% endif %}> Volunteering</label>
                    <label><input type="checkbox" name="event_tags" value="career" {% if filters is defined and 'career' in filters['tags'] %}checked{% endif %}> Career</label>
                    <label><input type="checkbox" name="event_tags" value="performance" {% if filters is defined and 'performance' in filters['tags'] %}checked{% endif %}> Performance</label>
                    <label><input type="checkbox" name="event_tags" value="other" {% if filters is defined and 'other' in filters['tags'] %}checked{% endif %}> Other</label>
                </div>

                <div class="filter-section">
                    <label for="orgs_following" class="filter-lable"> Orgs following </label><br>
                    <input type="checkbox" id="orgs_following" name="orgs_following" value="orgs_following" {% if filters is defined and filters['orgs_following'] == 'on' %}checked{% endif %}>
                </div>

                <input type="submit" value="Filter" class="filter-button">
            </form>
        </div>
           
        <div class="main-content">
          <div class="tabs">
            <button class="tab" onclick="showTab('upcoming')"><h1>Upcoming Events</h1></button>
            <button class="tab" onclick="showTab('all')"><h1>All Events</h1></button>
          </div>          
          <div id="upcoming" class = "tab-content">
            <div class="event-grid">
              {% for event in upcoming_events %}
              <div class="event-card">
                <div class="event-image">
                    {% if event.spam %}
                        {% set filename = event.spam.split('/')[-1] %}
                            <img src="{{ url_for('uploads', filename=filename) }}" alt="Event image for {{ event.eventname }}">
                    {% else %}
                      <img src="{{ url_for('static', filename='images/WeEvent_default_event_pic.png') }}" alt="WeEvent default image">
                    {% endif %}
                </div>
                <div class="event-info">
                  <p class="event-detail">
                    <span class="event-type {{ event.eventtype|lower }}">{{ event.eventtype }}</span>
                    {% set tag_list = event.eventtag.split(',') %}
                    {% for tag in tag_list %}
                      <span class="event-type {{ tag|trim|lower }}">{{ tag|trim }}</span>
                    {% endfor %}
                  </p >  
                  <h2 class="event-title">{{ event.eventname }}</h2>
                  <p class="event-detail evnet-date">{{ event.formatted_date }} from {{ event.formatted_starttime }} to {{ event.formatted_endtime }}</p>
                  <p class="event-detail event-loc">{{ event.eventloc }}</p>
                  <p class="event-detail event-host">By <a href="{{ url_for('profile', profile_user_id=event.userid) }}">{{ event.username }}</a></p>
                  {% if event.rsvp == 'yes'%}
                    <p class="event-detail event-att">{{ event.numattendee}} people attending</p>
                  {% endif %}
                  <div class="event-actions">
                    {% if session.uid and session.usertype == 'personal' and session.uid != event.userid and event.rsvp == 'yes' %}
                      <form action="{{ url_for('rsvp', event_id=event.eventid) }}" method="post">
                        {% if event.user_rsvped == 'yes'%}
                          <button id="rsvpButton" type="submit" class="rsvp-button">Cancel RSVP</button>
                        {% else %}
                          <button id="rsvpButton" type="submit" class="rsvp-button">RSVP</button>
                        {%endif%}
                      </form>
                    {% endif %}
                    <form action="{{ url_for('event', event_id=event.eventid) }}" method="get">
                    <button type="submit" class="details-button">View Details</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          
          <div id="all" class = "tab-content" style="display: none;">
            <div class="event-grid">
              {% for event in events %}
              <div class="event-card">
                <div class="event-image">
                    {% if event.spam %}
                        {% set filename = event.spam.split('/')[-1] %}
                            <img src="{{ url_for('uploads', filename=filename) }}" alt="Event image for {{ event.eventname }}">
                    {% else %}
                      <img src="{{ url_for('static', filename='images/WeEvent_default_event_pic.png') }}" alt="WeEvent default image">
                    {% endif %}
                </div>
                <div class="event-info">
                  <p class="event-detail">
                    <span class="event-type {{ event.eventtype|lower }}">{{ event.eventtype }}</span>
                    {% set tag_list = event.eventtag.split(',') %}
                    {% for tag in tag_list %}
                      <span class="event-type {{ tag|trim|lower }}">{{ tag|trim }}</span>
                    {% endfor %}
                  </p >  
                  <h2 class="event-title">{{ event.eventname }}</h2>
                  <p class="event-detail evnet-date">{{ event.formatted_date }} from {{ event.formatted_starttime }} to {{ event.formatted_endtime }}</p>
                  <p class="event-detail event-loc">{{ event.eventloc }}</p>
                  <p class="event-detail event-host">By <a href="{{ url_for('profile', profile_user_id=event.userid) }}">{{ event.username }}</a></p>
                  <p class="event-detail event-att">{{ event.numattendee}} people attending</p>
                  <div class="event-actions">
                    {% if session.uid and session.usertype == 'personal' and session.uid != event.userid %}
                      <form action="{{ url_for('rsvp', event_id=event.eventid) }}" method="post">
                        {% if event.user_rsvped == 'yes'%}
                          <button id="rsvpButton" type="submit" class="rsvp-button">Cancel RSVP</button>
                        {% else %}
                          <button id="rsvpButton" type="submit" class="rsvp-button">RSVP</button>
                        {%endif%}
                      </form>
                    {% endif %}
                    <form action="{{ url_for('event', event_id=event.eventid) }}" method="get">
                    <button type="submit" class="details-button">View Details</button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>          
    </div>
</body>
{% endblock %}
