<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'styles.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% block head_stuff %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>  
{% block nav %}

<div class="nav_bar_wrapper">
  <nav>
    <a href="{{ url_for('index') }}" class="logo-link">
      <img src="{{ url_for('static', filename='images/WeEvent_Logo.png') }}" alt="WeEvent Logo" class="logo">
    </a>
    <form method="GET" action="{{ url_for('search_events') }}" class="search-form">
      <div class="search-box">
        <input id="search" type="text" name="search" placeholder="Search an event..." class="search-input" value="{{ search_term|default('') }}">
        <label for="search">Search</label>
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
          Search
        </button>
      </div>
    </form>
      {% if session.uid %}
      <div>
        <div class="user-menu">
          <button class="user-action">{{ session.username }}</button>
          <div class="user-dropdown">
            <a href="{{ url_for('profile', profile_user_id=session.uid) }}">Profile</a>
            <!-- <a href="{{ url_for('logout') }}">Logout</a> -->
            <form method="POST" action="{{ url_for('logout') }}" id="logout-form" class="logout-form">
              <button type="submit" class="logout">Logout</button>
            </form>
          </div>
        </div>
        <a href="{{ url_for('create_event') }}" class="user-action user-action-signup">Create an Event</a>
      </div>
      {% else %}
      <div>
        <a href="{{ url_for('login') }}" class="user-action">Login</a>
        <a href="{{ url_for('register') }}" class="user-action user-action-signup">Sign up</a>
      </div>
      {% endif %}
    </div>
  </nav>
</div>

{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% block end_scripts %}{% endblock %}
  
</body>
</html>
