{% extends "base.html" %}

<!--Displays all details of an event-->
{% block main_content %}
<nav>
  <ul>
    <li><a href="{{ url_for('filter_events') }}">Filter Events</a></li>
    <li><a href="{{ url_for('search_events') }}">Search Events</a></li>
  </ul>
</nav>

  <div class="event-details-container">
    <h1>{{ event.eventname }}</h1>
    <p><strong>Date:</strong> {{ event.eventdate }}</p>
    <p><strong>Time:</strong> From {{ event.starttime }} to {{ event.endtime }}</p>
    <p><strong>Type:</strong> {{ event.eventtype }} </p>
    <p><strong>Organizer ID (for testing purposes only):</strong> {{ event.organizerid }} </p>
    <p><strong>Location:</strong> {{ event.eventloc }}</p>
    <p><strong>Description:</strong> {{ event.fulldesc }}</p>
    <p><strong>Contact Email:</strong> <a href="mailto:{{ event.contactemail }}">{{ event.contactemail }}</a></p>
    <p><strong>RSVP:</strong> {{ 'Required' if event.rsvp == 'yes' else 'Not Required' }}</p>
    
    {% if event.rsvp == 'yes' %}
      {% if usertype == 'org' %}
        <p>To RSVP, please use a personal account.</p>
      {% else %}
        <form action="{{ url_for('rsvp', event_id=event.eventid) }}" method="post">
          <button type="submit">RSVP</button>
        </form>
        {% endif %}
    {% endif %}

    <p><strong>Tags:</strong> {{ event.eventtag }}</p>
    
    {% if filename %}
      <img src="{{ url_for('uploads', filename=filename) }}" alt="Event Image">
    {% endif %}

    <button onclick="history.back();">Back to Last Page</button>

  </div>
{% endblock %}
