{% extends "base.html" %}

{% block end_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
  var rsvpButton = document.getElementById('rsvpButton');
  if (rsvpButton) {
    rsvpButton.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent the form from submitting via the browser.

      var form = this.closest('form'); // Get the form surrounding the button.
      var actionUrl = form.action; // Get the action URL from the form.

      // Send the form data to the server
      fetch(actionUrl, {
        method: 'POST',
        body: new FormData(form),
        headers: {
          'Accept': 'application/json',
          // Include any additional headers like CSRF tokens if necessary
        },
      })
      .then(response => {
        if(response.ok) {
          // If the server responds with a success status, refresh the page
          window.location.reload();
        } else {
          // If the server responds with an error status, alert the user
          alert('An error occurred. Please try again.');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
      });
    });
  }
});
</script>
{% endblock %}

{% block main_content %}
<body>
  <div class="event-detail-page">
      <div class="event-detail-container">
        <header>
          <button class="back-button" onclick="history.back();">&larr; Back</button>
        </header>
        <p class="event-detail-1">
          <span class="event-type {{ event.eventtype }}">{{ event.eventtype }}</span>
          <span class="event-type {{ event.eventtag }}">{{ event.eventtag }}</span>
        </p>  
        <h1>{{ event.eventname }}</h1>
        <p class="event-detail evnet-date">{{ event.formatted_date }} from {{ event.formatted_starttime }} to {{ event.formatted_endtime }}</p>
        <p class="event-detail event-loc">{{ event.eventloc }}</p>
        <p class="event-detail event-host">By {{ event.username }}</p>
        <p class="event-detail event-email">Contact us at {{ event.email }}</p>
        <div>
          <h2>Description</h2>
          <p>{{event.fulldesc}}</p>
        </div>
        {% if session.uid and session.usertype == 'personal' %}
            {% if event.rsvp == 'yes' %}
                <button class="rsvp-button" disabled>RSVP'd</button>
            {% else %}
                <form action="{{ url_for('rsvp', event_id=event.eventid) }}" method="post">
                <button id = "rsvpButton" type="submit" class="rsvp-button">RSVP</button>
                </form>
            {% endif %}
        {% endif %}
      </div>
      <div class="event-image-details">
        {% if event.spam %}
            {% set filename = event.spam.split('/')[-1] %}
                <img src="{{ url_for('uploads', filename=filename) }}" alt="Event image for {{ event.eventname }}">
        {% else %}
          <img src="{{ url_for('static', filename='images/WeEvent_default_event_pic.png') }}" alt="WeEvent default image">
        {% endif %}
      </div>
  </div>
</body>
{% endblock %}
