{% extends "base.html" %}

{% block main_content %}
<div class="followed-orgs-container">
  <h1>Following</h1>
  <div class="org-search-container">
    <form action="{{ url_for('view_following', profile_userid = user.userid) }}" method="post" class="search-form">
      <div class="search-box">
        <input type="text" name="org_name" placeholder="Search org..." class="search-input" value="{{ search_term|default('') }}">
        <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </div>
    {% if followed_orgs %}
      <div class = "org-list">
        {% for org in followed_orgs %}
          <div class="org-item">
            <p><a href="{{ url_for('profile', profile_user_id=org.userid) }}">{{ org.username }}</a></p>
          {% if session.uid and session.usertype == 'personal' and session.uid != user.userid %}
            {% if org.is_following %}
              <form action="{{ url_for('unfollow', followed=org.userid) }}" method="post">
              <button type="submit">Unfollow</button>
              </form>
            {% else %}
              <form action="{{ url_for('follow', followed=org.userid) }}" method="post">
              <button type="submit">Follow</button>
              </form>
            {%endif%}
          {% endif %}
          </div>
        {% endfor %} 
      </div>
    {% else %}
      <p>{{user.username}} is not following any organizations yet.</p>
    {% endif %}
</div>

{% endblock %}
