{% extends "base.html" %}

{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Manager</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Event Manager Homepage</h1>
  <button class="button" id="createEventButton">Create Event</button>
  <button class="button" id="manageEventButton">Manage Events</button>
  
  <h2>Upcoming Events</h2>
  <ul class="event-list">
    {% for event in events %}
        <li>{{ event.eventname }} - <a href="/event/{{ event.eventid }}">Click for details</a></li>
    {% endfor %}
  </ul>
</body>
</html>

{% endblock %}
