{% extends "base.html" %}

{% block jquery_scripts %}
<script>
$("#joinform").on('submit', function (event) {
    var pw1 = $(this).find('[name=password1]').val();
    var pw2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
    if( pw1 != pw2 ) {
         // something more sophisticated than alert would be nice
         alert("passwords don't match");
     }
});
</script>
{% endblock %}

{% block main_content %}
<div class="login-page">
    <div class = 'login-form'>
        <h1>Login</h1>
        <p>Welcome back!</p>
        <form id="loginform" action="{{url_for('login')}}" method="post">
            <div class="input-group">
                <label>Username:</label>
                <input type="text" name="username" placeholder="login@wellesley.edu" required pattern="^\w+$">
            </div>
            <div class="input-group">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="action-group">
                <button type="submit" name="submit" value="login" class="login-btn">Login</button>
                <div class="divider">or</div>
                <a href="{{ url_for('register') }}" class="signup-btn">Sign up</a>
            </div>
        </form>
    </div>
    <div class = 'login-image'>
        <img src="{{ url_for('static', filename='images/undraw_my_password_re_ydq7.svg') }}" alt="Login illustration">
    </div>
</div>
{% endblock %}