{% extends "base.html" %}

{% block main_content %}
  <div class="org-details-container">
    <h1>{{ org.username }}</h1>
    {% if is_following %}
        <form action="{{ url_for('unfollow', followed=org.userid) }}" method="post">
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form action="{{ url_for('follow', followed=org.userid) }}" method="post">
            <button type="submit">Follow</button>
        </form>
    {% endif %}
    <p><strong>Org Email:</strong> <a href="mailto:{{ org.email }}">{{ org.email }}</a></p>
    <p><strong>E-board:</strong> {{ org.e_board }}</p>
    <p><strong>Org info:</strong> {{ org.orginfo }}</p>
    <p><strong>Org ID (for testing purposes only):</strong> {{ org.userid }} </p>


    <div class="event-grid">
      <h2>Hosting:</h2>
      {% for event in org_event %}
      <div class="event-card">
        <div class="event-image">
            {% if event.spam %}
                {% set filename = event.spam.split('/')[-1] %}
                    <img src="{{ url_for('uploads', filename=filename) }}" alt="Event image for {{ event.eventname }}">
            {% endif %}
        </div>
        <div class="event-info">
          <p class="event-detail">
            <span class="event-type {{ event.eventtag | lower }}">{{ event.eventtag }}</span>
          </p>  
          <h2 class="event-title">{{ event.eventname }}</h2>
          <p class="event-detail">{{ event.eventdate }} from {{ event.starttime }} to {{ event.endtime }}</p>
          <p class="event-detail">{{ event.eventloc }}</p>
          <p class="event-detail">By {{ event.username }}</p>
          <div class="event-actions">
            {% if session.uid and session.usertype == 'personal' %}
                {% if event.rsvp == 'yes' %}
                    <button class="rsvp-button" disabled>RSVP'd</button>
                {% else %}
                    <form action="{{ url_for('rsvp', event_id=event.eventid) }}" method="post">
                    <button type="submit" class="rsvp-button">RSVP</button>
                    </form>
                {% endif %}
            {% endif %}
            <form action="{{ url_for('event', event_id=event.eventid) }}" method="get">
            <button type="submit" class="details-button">View Details</button>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </div>
{% endblock %}
