{% extends "base.html" %}

{% block main_content %}
  <div class="org-details-container">
    <h1>{{ org.username }}</h1>
    {% if is_following %}
        <form action="{{ url_for('unfollow', followed=org.userid) }}" method="post">
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form action="{{ url_for('follow', followed=org.userid) }}" method="post">
            <button type="submit">Follow</button>
        </form>
    {% endif %}
    <p><strong>Org Email:</strong> <a href="mailto:{{ org.email }}">{{ org.email }}</a></p>
    <p><strong>E-board:</strong> {{ org.e_board }}</p>
    <p><strong>Org info:</strong> {{ org.orginfo }}</p>
    <p><strong>Org ID (for testing purposes only):</strong> {{ org.userid }} </p>


    <ul class="event-list">
      <h2>Hosting:</h2>
      {% for event in org_event %}
      <li>
        <strong>{{ event.eventname }}</strong><br>
        Organizer: <a href="{{ url_for('profile', profile_user_id=event.organizerid) }}">{{ event.username }}</a><br>
        Location: {{ event.eventloc }}<br>
        Description: {{ event.shortdesc }}<br>
        Time: {{ event.eventdate }} from {{ event.starttime }} to {{ event.endtime }}<br>
        Organizer ID (for testing purposes only): {{ event.organizerid }} <br>
        Type: {{ event.eventtype }} <br>
        Tags: {{ event.eventtag }} <br>
        <a href="/event/{{ event.eventid }}">Click for details</a>
        <a href="{{ url_for('view_rsvp_details', event_id = event.eventid)}}">Attendees</a>
      </li>
      {% endfor %}
    </ul>
    
  </div>
{% endblock %}
