{% extends "base.html" %}

{% block main_content %}
<div class="register-page">
    <div class = "login-form">
        <h1>Welcome to WeEvent</h1>
        <p>Create your account</p>
        <form id="registerform" action="{{ url_for('register') }}" method="post">
            <div class="input-group">
                <label for="account_type">Account Type:</label>
                <p>Please be sure to choose what type of account you are registering.</p>
                <div class="toggle-switch">
                    <input type="radio" name="account_type" id="org" value="org" class="account-type-radio" required>
                    <label for="org" class="toggle-switch-label">Organization</label>
                    <input type="radio" name="account_type" id="personal" value="personal" class="account-type-radio">
                    <label for="personal" class="toggle-switch-label">Personal</label>
                </div>
            </div>
            <div class="input-group">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" required pattern="^\w+$">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password1" required>
            </div>
            <div class="input-group">
                <label for="repeat_password">Repeat Password:</label>
                <input id="repeat_password" type="password" name="password2" required>
            </div>
            <!-- <div class="input-group org-field">
                <label>List eboard members:</label>
                <input type="text" name="eboard">
            </div>
            <div class="input-group org-field">
                <label for="org_info">Org Info:</label>
                <textarea id="org_info" name="org_info"></textarea>
            </div> -->
            <div class="action-group">
                <button type="submit" class="register-btn">Register</button>
            </div>
            <div>Already have an account? <a href="{{ url_for('login') }}">Login</a></div>
        </form>
    </div>
    <div class = 'login-image'>
        <img src="{{ url_for('static', filename='images/undraw_sign_up_n6im.svg') }}" alt="Login illustration">
    </div>
</div>

{% endblock %}
    

{% block jquery_scripts %}
<script>
$(document).ready(function(){
    // Initially hide the organization specific fields
    $('.org-field').hide();

    // Listen for a change on any radio button within the account_type group
    $('input[name="account_type"]').change(function() {
        // Check if the 'org' radio button is checked
        if($('#org').is(':checked')) {
            // If 'org' is checked, show the org fields
            $('.org-field').show();
        } else {
            // If 'org' is not checked, hide the org fields
            $('.org-field').hide();
        }
    });
    
    // Form validation and submission
    $("#registerform").on('submit', function(event) {
        // Perform your validation here...
        var pw1 = $('input[name="password1"]').val();
        var pw2 = $('input[name="password2"]').val();
        if( pw1 != pw2 ) {
            alert("Passwords don't match.");
            event.preventDefault(); // Stop form submission if passwords don't match
        }
        // If you have other validations, include them here, and call event.preventDefault() if any fail
    });
});
</script>
{% endblock %}
