{% extends "base.html" %}

{% block main_content %}
<h1>See Events</h1>

<!--A filter bar allowing the user to filter by date, type, org name, and tags-->
<div id="filter-bar">
    <form method="POST" action="{{ url_for('see_events') }}">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">

      <label for="type">Type:</label>
      <select id="type" name="type">
        <option value="">Select Type</option>
        <option value="personal">Personal</option>
        <option value="org">Organization</option>
      </select>

      <label for="org_name">Org Name:</label>
      <input type="text" id="org_name" name="org_name">

      <label for="event_tags">Event Tags (Optional)</label></td>
        <div id="tag-checkboxes">
            <label><input type="checkbox" name="event_tags" value="academic"> Academic</label>
            <label><input type="checkbox" name="event_tags" value="sport"> Sport</label>
            <label><input type="checkbox" name="event_tags" value="cultural"> Cultural</label>
            <label><input type="checkbox" name="event_tags" value="religious"> Religious</label>
            <label><input type="checkbox" name="event_tags" value="volunteering"> Volunteering</label>
            <label><input type="checkbox" name="event_tags" value="career"> Career</label>
            <label><input type="checkbox" name="event_tags" value="other"> Other</label>
        </div>
        
      <input type="submit" value="Filter">
    </form>
  </div>

  <!--This is for displaying the events that match the filters-->
  <div id="event-list">
    <ul>
        {% for event in events %}
        <p>{{ event.eventname }} - {{ event.eventdate }}</p>
        {% endfor %}
    </ul>
  </div>

{% endblock %}